
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root{
    --font-family: 'TikTok Sans', sans-serif;
    --primary-bg-color:#fff ;
    --secondary-bg-color: #d5fdf9;
    --text-color:#000;
    --primary-color:#00b8b8 ;
}
html {
    font-size: 62.5%;
    overflow: hidden;
}

body{
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header Section */
 .header {
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background: var(--primary-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
 }

 .logo{
    font-size: 3rem;
    color: var(--primary-bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
 }

.logo:hover{
    transform: scale(1.05);
}

.navbar a{
    font-size: 1.9rem;
    color: var(--primary-bg-color);
    font-weight: 700;
    margin-left: 4rem;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: var(--text-color);
}

#menu-btn{
    font-size: 3.5rem;
    color: var(--primary-bg-color);
    cursor: pointer;
}

/* Home Section */

.home{
    display: flex;
    justify-content: center;
    align-items: center;;
}

.home-img img{
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--primary-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--primary-color),0 0 35 px var(--primary-color), 0 0 45px var(--primary-color);
}

@keyframes floatImage {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    
}

.home-content{
    margin-left: 5rem;
}

.home-content h3{
    font-size: 3.7rem;
    font-weight: 700;

}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--primary-color);
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--primary-color);
    color: var(--primary-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover{
    background: var(--primary-color);
    color: var(--primary-bg-color);
    transform: scale(1.1) translateY(-10px);
}

.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--primary-color);
    color: var(--primary-bg-color);
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px var(--primary-color);
    transition: 0.3s ease;
}

.btn:hover{
    background: var(--primary-bg-color);
    color: var(--primary-color);
    box-shadow: 0 0 25px var(--primary-color);
    transform: translateY(-5px);
}